@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: end;
    }
}

@media(max-width: 1599px) {}

@media(max-width: 1399px) {}

@media(max-width: 1199px) {
    .nav-link {
        padding: .5rem .7rem;
    }
}

@media(max-width: 991px) {
    .header .social_icons{
        text-align: center;
    }
    
    .header .social_info{
        justify-content: center;
    }

    .nav_justify {
        justify-content: center;
    }

    .login_btn {
        bottom: 0px;
    }

    .form_part::after {
        opacity: 0;
    }
}

@media(max-width: 767px) {}

@media(max-width: 575px) {
    .header {
        line-height: 30px;
        font-size: 14px;
    }
    .header .info_partition {
        width: 345px;
    }
    .header .info_partition::after {
        height: 21px;
        width: 1px;
        left: 41%;
        top: 4px;
    }
    .dropdown-menu[data-bs-popper] {
        left: -86px;
    }
}