/* Common CSS */
@font-face {
    font-family: arimo-regular;
    src: url(../../assets/font/Arimo-Regular.ttf);
}

@font-face {
    font-family: arimo-medium;
    src: url(../../assets/font/Arimo-Medium.ttf);
}

@font-face {
    font-family: droidSerif-regular;
    src: url(../../assets/font/DroidSerif-Regular.ttf);
}

@font-face {
    font-family: droidSerif-bold;
    src: url(../../assets/font/DroidSerif-Bold.ttf);
}

* {
    font-family: droidSerif-bold, sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
    padding: 0;
    margin: 0;
    word-break: break-word;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
    outline-color: -webkit-focus-ring-color;
    outline-style: 0;
    outline-width: 0;
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

.form-control:focus {
    border-color: var(--brand-color) !important;
    box-shadow: none !important;
}

::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--brand-color);
    outline: 1px solid var(--brand-color);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="password"]::-ms-clear,
input[type="password"]::-ms-reveal {
    display: none;
}

:root {
    --text-color: #222;
    --text-light-color: #2c2c2c;
    --subtitle-color: #aaa;
    --brand-color: #119ee6;
    --button-color: var(--brand-color);
    --review-color: #0fbfa1;
    --review-gold-color: #ffc107;
    --border-color: #c4bbbb;
}

.section-title {
    color: var(--button-color);
}

/* Header */
.header {
    background-color: #151414;
    line-height: 50px;
}

.header a {
    color: var(--subtitle-color);
}

.header .social_icons a:hover {
    color: var(--brand-color);
}

.header .social_info{
    justify-content: center;
}

.header .info_partition {
	width: 480px;
	display: flex;
	justify-content: space-between;
    position: relative;
}

.header .info_partition::after {
	position: absolute;
	content: '';
	height: 35px;
	width: 1px;
	background-color: var(--subtitle-color);
	left: 42%;
	transform: translateX(-50%);
	top: 7px;
}

/* Navigation */
.nav_justify {
    justify-content: end;
}

.nav_justify a {
    font-family: arimo-regular, sans-serif;
}

.nav_justify .nav-link {
    color: var(--text-color);
    transition: all linear .3s;
}

.nav_justify .nav-link span {
    position: relative;
    color: var(--text-color);
    font-family: arimo-regular, sans-serif;
    transition: all linear .3s;
}

.nav_justify .nav-link span::before {
    position: absolute;
    content: '';
    background: var(--brand-color);
    width: 120%;
    height: 3px;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all linear .3s;
}

.nav_justify .nav-link:hover{
    color: var(--brand-color);
}

.nav_justify .nav-link:hover span{
    color: var(--brand-color);
}

.nav_justify .nav-link:hover span::before{
    opacity: 1;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 64px;
}

.navbar .dropdown-menu li {
    line-height: 50px;
}

.form_part{
    padding-left: 80px;
    position: relative;
}

.form_part::after {
	position: absolute;
	content: '';
	top: 0;
	left: 45px;
	height: 33px;
	width: 1px;
    background-color: var(--subtitle-color);
}

.login_btn {
	position: absolute;
	bottom: -40px;
	left: 15%;
}

.login_btn i{
    background: var(--brand-color);
    color: #fff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
}

.login_btn button{
    border-radius: 50%;
    outline: 2px solid #151414;
    padding: 2px;
}

.login_btn button:focus:not(:focus-visible) {
	outline: 2px solid #151414;
}

.navbar-light .navbar-toggler {
	border-color: transparent;
}

.navbar-toggler:focus {
	box-shadow: none;
}

nav.bg-light {
	background-color: #fff !important;
}