*{
	font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
    padding: 0;
    margin: 0;
    word-break: break-word;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
    outline-color: -webkit-focus-ring-color;
    outline-style: 0;
    outline-width: 0;
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

.form-control:focus {
    border-color: var(--brand-color) !important;
    box-shadow: none !important;
}

::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--brand-color);
    outline: 1px solid var(--brand-color);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="password"]::-ms-clear,
input[type="password"]::-ms-reveal {
    display: none;
}

:root {
    --text-color: #29303b;
    --text-light-color: #2c2c2c;
    --subtitle-color: #848484;
    --brand-color: #3c3892;
    --brand-color2: #3c3892;
    --brand-color3: #7471b1;
    --button-color: var(--brand-color);
    --review-color: #0fbfa1;
    --review-gold-color: #ffc107;
    --border-color: #c4bbbb;
}

.section-title {
    color: var(--button-color);
}
